.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 40%;
  border: 2px solid #000;
  background-color: bisque;
  opacity: 0.7;
}

.buttonInput{
  width: 20%;
}
